- content_for :head_script do
  = javascript_include_tag "admin_map"
%header
  %h1 Información de la pista
%section
  %figure#clue-creator
    %figcaption Selecciona la ubicación
    #map-canvas
  %section
    = form_for(@clue, :url => :assign_tickets_clues) do |f|
      .field
        = f.label :description
        = f.text_field :description
      .field
        = f.label :image_url
        = f.text_field :image_url
      .field
        = f.hidden_field :id, :value => @clue.id
        = f.hidden_field :longitude, :value => @clue.longitude
        = f.hidden_field :latitude, :value => @clue.latitude
        = f.hidden_field :radius, :value => @clue.radius
        - if @disable_option
          = f.label :active
          = f.check_box :active
        - else
          = f.hidden_field :active, :value => true
        = f.hidden_field :source_type, :value => "web"
      .field
        %label{"for" => "ticket_number"} Tickets para repartir
        %input#ticket_number{"name" => "ticket_number", "value" => @tickets}
      .actions
        = f.submit
