#float-action
  = link_to "regresar", :admin_reports , :class => "link-to-button"
- content_for :header_title do
  reportes: usuarios
%section#divided-content.aligned
  %article
    %table#user-list
      %tr
        %th 
        %th
          = sortable "first_name", "nombre"
        %th
          = sortable "email", "email" 
        %th
          = sortable "created_at", "creado"
        %th es fan
        %th ganó boleto
        %th aceptados / invitados
        %th intentos web
        %th intentos móvil
      - @users.each do |user|
        %tr
          %td
            = image_tag user.thumbnail_url, :class => "thumbnail" 
          %td
            = link_to "#{user.first_name} #{user.last_name}", "http://facebook.com/#{user.uid}", :target => "_blank"
          %td #{user.email}
          %td #{user.created_at.in_time_zone('Central Time (US & Canada)').to_formatted_s(:short)}
          %td #{(not user.is_fan) ? "No" : ( (not user.activities.select{|activity| activity.description == "fan"}.size >= 1) ? "Sí" : "Nuevo") }
          %td #{user.ticket_id.blank? ? "No" : "Sí"}
          %td #{user.referrals.select{|referral| referral.accepted == true}.count} / #{user.referrals.size}
          %td #{user.clues.select{|clue| clue.source_type == 'web'}.size}
          %td #{user.clues.select{|clue| clue.source_type == 'mobile'}.size}
= will_paginate @users
