- content_for :head_script do
  = javascript_include_tag "admin_referrals"
%header
  %h1 Asigna ganador
%section
  = form_tag(:assign_to_user_tickets, :id => :ticket_form) do
    = hidden_field_tag :user_id, ""
    %ul
      - @referrals.each do |referral|
        - user = User.find(referral.user_id)
        %li
          = image_tag user.thumbnail_url
          = user.first_name
          = user.last_name
          = referral.referral_count
          = link_to "Asigna", "#", :onclick => "submitReferral(#{user.id})"
