<% content_for :head_script do %>
  <%= javascript_include_tag "index_mobile"%>
<% end %>
<div id="fb-root"></div>

<div data-role="page" id="login">
  <div class="header-logo"></div>
  <div data-role="content">
    <div class="yellow-header">ENCIENDE LA LETRA</div>
    <div class="letra-instrucciones">
        <div class="letra-div"></div>
        <div class="instrucciones-div">
          <div class="foo"></div>
        </div>
    </div>
    <div class="home-div">
      <div>ENCIENDE LA TERCERA LETRA L Y PARTICIPA PARA GANAR <br> BOLETOS DEL CONCIERTO DE <b class="yellow"> FOO FIGHTERS</b> EL 13 DE DICIEMBRE EN EL FORO SOL.</div>
    </div>
    <div><%= image_tag "mobile/conectar_facebook.png", :id => "btn-facebook" %></div>
    <div class="bases">Revisa la bases en www.centenario.com</div>
    <div class="footer">alcoholinformate.org.mx | TODOS LOS DERECHOS RESERVADOS. TEQUILA CENTENARIO MMXIII | CONOCER ES NO EXCEDERSE</div>
  </div>
</div>

<div data-role="page" id="like">
  <div class="header-logo"></div>
  <div data-role="content">
    <div class="subheader">
      <div>PARA PARTICIPAR TIENES QUE SER FAN DE<br/><b class="yellow">CENTENARIO©</b> <%= image_tag "mobile/manita.png", :id => "manita"%></div>
      <fb:like-box href="http://www.facebook.com/CentenarioT" width="400" height="350" show_faces="true" colorscheme="dark" stream="false" border_color="#b09648" header="false"></fb:like-box>
    </div>
    <div class="bases">Revisa la bases en www.centenario.com</div>
    <div class="footer">alcoholinformate.org.mx | TODOS LOS DERECHOS RESERVADOS. TEQUILA CENTENARIO MMXIII | CONOCER ES NO EXCEDERSE</div>
  </div>
</div>

<div data-role="page" id="search">
  <div class="header-logo"></div>
  <div data-role="content">
    <div class="yellow-header"></div>
    <div class="letra-instrucciones">
      <div class="instrucciones-full">
        <div class="instrucciones">
          HAZ <b class="yellow">CHECK IN</b> Y PARTICIPA PARA GANAR BOLETOS.
        </div>
      </div>
    </div>
    <%= image_tag "mobile/check_btn.png", :id => "btn-search"%>
    <div class="bases">Revisa la bases en www.centenario.com</div>
    <div class="footer">alcoholinformate.org.mx | TODOS LOS DERECHOS RESERVADOS. TEQUILA CENTENARIO MMXIII | CONOCER ES NO EXCEDERSE</div>
  </div>
</div>

<div data-role="page" id="result">
  <div class="header-logo"></div>
  <div data-role="content">
    <div class="yellow-header"></div>
    <div class="letra-instrucciones">
        <div class="instrucciones-full">
          <div class="instrucciones">
            NO ESTAS EN EL LUGAR <b class="yellow">INDICADO.</b> CONSULTA LOS LUGARES PARTICIPANTES EN EL FACEBOOK DE <b class="yellow">CENTENARIO</b> E INTENTA DE NUEVO.
          </div>
        </div>
    </div>
    <%= image_tag "mobile/regresar_btn.png", :id => "btn-regresar"%>
    <div class="bases">Revisa la bases en www.centenario.com</div>
    <div class="footer">alcoholinformate.org.mx | TODOS LOS DERECHOS RESERVADOS. TEQUILA CENTENARIO MMXIII | CONOCER ES NO EXCEDERSE</div>
  </div>
</div>

<div data-role="page" id="won">
  <div class="header-logo"></div>
  <div data-role="content">
    <div class="yellow-header"></div>
    <div class="letra-instrucciones">
        <div class="instrucciones-full">
          <div class="instrucciones">
            YA ENCENDISTE LA LETRA Y ESTAS PARTICIPANDO POR LOS BOLETOS DE <b class="yellow">FOO FIGHTERS.</b> SIGUE PARTICIPANDO EN <b class="yellow">CENTENARIO.COM</b>
          </div>
        </div>
    </div>
    <div class="bases">Revisa la bases en www.centenario.com</div>
    <div class="footer">alcoholinformate.org.mx | TODOS LOS DERECHOS RESERVADOS. TEQUILA CENTENARIO MMXIII | CONOCER ES NO EXCEDERSE</div>
  </div>
</div>

<%= content_tag "div", id: "ruby-values", data: {
  has_ticket: @has_ticket, folio: @folio, fbid: current_user.try("uid"), first_name: current_user.try("first_name"), last_name: current_user.try("last_name"), email: current_user.try("email")
} do %><% end %>
