!!!
%html{:lang => "es"}
  %head
    %title Concierto Centenario
    %meta{:charset => "utf-8"}
    %meta{:content => "initial-scale=1.0, user-scalable=no", :name => "viewport"}
    = stylesheet_link_tag "admin", :media => "all"
    = yield :head_style
    = javascript_include_tag "application"
    = yield :head_script
    = csrf_meta_tags
  %body
    %header
      = link_to "logout", :admin_logout, :class => "link-to-button"
      = link_to "home", "/admin", :class => "link-to-button"
      %h2 Administrador #{yield :header_title}
    = yield
