<!DOCTYPE html>
<html lang="es">
<head>
  <title>El Concierto Más Cerca del Cielo</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <%= stylesheet_link_tag "display", :media => "all" %>
  <%= yield :head_style %>
  <%= javascript_include_tag "application", "facebook", "jquery.simplemodal.min.js", "util" %>
  <%= yield :head_script %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <%= image_tag "web/patrocinado.png", :alt => "Patrocinado por Tequila Centenario"%>  
</header>
<%= yield %>
<div id="ruby-session" data-session="<%= current_user ? true : false %>"></div>
<div id="modal-alert">
  <h3 id="modal-title"></h3>
  <p id="modal-content"></p>
</div>
</body>
</html>
