<!DOCTYPE html>
<html lang="es">
<head>
  <title>Torre Centenario</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <%= stylesheet_link_tag "display", :media => "all" %>
  <%= javascript_include_tag "application", "facebook" %>
  <%= yield :head_script %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="ruby-session" data-session="<%= current_user ? true : false %>"></div>
<%= yield %>

</body>
</html>
